@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.ChangePassword)">Change</a>
            }
            else
            {
                <a asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.SetPassword)">Create</a>
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count [<a asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.ManageLogins)">Manage</a>]
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.DisableTwoFactorAuthentication)" method="post" class="form-horizontal" role="form">
                        <text>
                            Enabled
                            <button type="submit" class="btn btn-link">Disable</button>
                        </text>
                    </form>
                }
                else
                {
                    <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.EnableTwoFactorAuthentication)" method="post" class="form-horizontal" role="form">
                        <text>
                            Disabled
                            <button type="submit" class="btn btn-link">Enable</button>
                        </text>
                    </form>
                }*@
        </dd>
    </dl>
</div>